.mainform {
    /* margin-top: -66px; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    z-index: 10;
}

.mainform-textmessage {
    text-align: center;
    margin-top: -40px;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(58, 58, 58);
}
.mainform-form {
    padding: 45px;
    width: 600px;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-self: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

@media screen and (max-width: 740px) {
    .mainform-form {
        width: 340px;
        padding: 10px;
    }
    .mainform-textmessage {
        margin-top: 0px;
    }
  }